.tab-content{ overflow:visible; }
.dropdown-menu > li{
	padding:3px 0 3px 10px;
	cursor:pointer;	
}
.dropdown-menu > li:hover{
	background:#fafafa;	
}
.stat input,
#stats input{
	width:60px;	
}
.nav-tabs .current{
	text-align: left;
	display: block;
	color: #AAA;
	font-style: italic;	
}
input.equation{
	width:96%;
	display:block;
	height:50px;	
}